<?php
/*
 * topnav
 *
 * @copyright Copyright © 2017 Firetoss. All rights reserved.
 * @author    sgmadsen@gmail.com
 */
?>
<?php
/** @var \Firetoss\Platinum\Block\Topnav $block  */
// Add your template code here ...
?>
<ul class="topnav_left">
    <li class="topnav_text">TOLL FREE: 1.877.723.9675</li>
    <li class="topnav_text">KEEPING YOU COOL FOR THE LONG HAUL</li>
</ul>


<ul class="topnav_right">
    <li class="topnav_link">twitter</li>
    <li class="topnav_link">facebook</li>
    <span class="divider"></span>
    <li class="topnav_link">live online help <span class="icon-information"></span></li>
</ul>







