.page-header .panel.wrapper {
  border-bottom: none !important; }
  .page-header .panel.wrapper .header {
    background: #000000;
    display: flex;
    width: 100%;
    justify-content: space-between; }
    .page-header .panel.wrapper .header ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      color: white;
      display: inline-flex;
      flex: 1;
      align-items: center; }
      .page-header .panel.wrapper .header ul.topnav_left {
        justify-content: flex-start; }
      .page-header .panel.wrapper .header ul.topnav_right {
        justify-content: flex-end; }
      .page-header .panel.wrapper .header ul li {
        padding: 0 10px;
        display: inline-flex;
        margin: 0; }

.page-header .header.content {
  background: #1b75bb; }
