.page-header {

  .panel {

    &.wrapper {
      border-bottom: none !important;

      .header {
        background: $black;
        display: flex;
        width: 100%;
        justify-content: space-between;

        ul {
          margin: 0;
          padding: 0;
          list-style-type: none;
          color: white;
          display: inline-flex;
          flex: 1;
          align-items: center;

          &.topnav_left {
            justify-content: flex-start;
          }

          &.topnav_right {
            justify-content: flex-end;
          }

          li {
            padding: 0 10px;
            display: inline-flex;
            margin: 0;
          }
        }
      }
    }
  }

  .header {
    &.content {
      background: $primary;
    }
  }
}